{% extends "proj/base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>Om projektet</h1>
    <div class="columns">
        <div class="column">
            </div>
        <div class="column">
    </div>
</div>    
{% endblock %}