{% extends 'proj/base.html.twig' %}

{% block title %}API Landing{% endblock %}

{% block body %}
    <h1>Available JSON Routes</h1>
    <ul>
        <li><a href="{{ path('game_object_show_all') }}">proj/game/showobjects</a> - visa alla spelobjekt</li>
        <li><a href="{{ path('game_action_show_all') }}">proj/game/showactions</a> - visa alla handlingar</li>
        
    </ul>

{% endblock %}
