{% extends 'proj/base.html.twig' %}

{% block title %}Welcome to the Project!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to the Project</h1>

    <p>Hit the button to start. If you dare.</p>
    <a href="{{ path('proj_game_player') }}">
        <img src="{{ absolute_url(asset('img/proj/button.png')) }}" alt="Start Game">
    </a>

</div>
{% endblock %}
