<div class="subnav">
    <ul>
        <li><a href="{{ path('card_deck') }}">Deck</a></li>
        <li><a href="{{ path('card_shuffle') }}">Shuffle</a></li>
        <li><a href="{{ path('card_draw') }}">Draw</a></li>
        <li><a href="{{ path('draw_many_get') }}">Draw several</a></li>
    </ul>
</div>
