{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Hej och välkommen. Den här sidan är tillverkad av Kanin. Han jobbar vanligtvis heltid med att äta gräs och gödsla gräset och äta kablar. En och annan elchock händer. Men ibland tar han paus från trädgårdsarbetet och designar websidor.</p>

    <img src="{{ asset('img/bunny.jpg')}}">
{% endblock %}