{% extends "base.html.twig" %}

{% block title %}Metrics{% endblock %}

{% block body %}
    <h1>Metrics report</h1>
    <div class="columns">
        <div class="column">
        </div>
        <div class="column">
        </div>
    </div>    
{% endblock %}