{# templates/report.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <h1>Report</h1>
    <ul>
        <li><a href="#kmom01">Kmom01</a></li>
        <li>Kmom02</li>
        <li>Kmom03</li>
        <li>Kmom04</li>
        <li>Kmom05</li>
        <li>Kmom06</li>

    </ul>


    <a id="kmom01"><h2>Kmom01</h2></a>
    <p>Mina tidigare erfarenheter av objektorientering är mer eller mindre det som ingick i Pythonkursen tidigare i år, med ett grundläggande dabblande i Java någon gång runt 1999.</p>
    <p>Jag vet inte om det blev så mycket tid i det här kursmomentet till att reflektera över själva klasserna i php. Jag förstår att de används här med extensions, vilket verkar elegant och kan bli kraftfullt. Jag ser fram emot att titta mer på det i mer konkreta situationer. Php är kul. Men helt ärligt, min tid den här veckan gick åt till att slåss mot installationer. Composer som jag installerade i höstas var obsolet, jag hade strul med installationerna av symfony och strul med i stort sett varenda steg.</p>
    <p>Det hade varit värdefullt att få testa på php-klasserna/objekten i en "lugnare" och mer avgränsad miljö utan att få hela ramverket i knäet på samma gång. En liten lab hade varit kanon.</p>
    <p>Min reaktion på strukturen till uppgiften är att det är stökigt, men ändå verkar okej-ish. Något mindre frustrerade och kaotiskt än webdesignkursen som var mycket värre på alla fronter. Introduktionen till att installera Symfony var tydlig och bra skriven. Det gick att komma igång, men jag är orolig för att kampen mot ramverket ska överskugga själva innehållet, som det blev i webdesignkursen.</p>
    <p>Jag bekantade mig bara översiktligt med php the right way. Jag vet att den finns och kan använda den vid behov. Det jag hoppas på är att det ska bli mer utrymme för php och klasser i nästa kursmoment.</p>
    <p>TIL - att jag tycker att det här ramverket verkar mer användbart än det vi hade i webdesignkursen, Pico mm. Skönt att slippa markdown and att sass är optionellt. Jag valde att helt enkelt skriva lite enkel css i app.css. I skrivandet stund har jag åtta stilar och jag behöver inget ramverk för att hantera det. Det får bli senare om behov uppstår, annars kör jag "keep it simple".</p>

    <a id="kmom02"><h2>Kmom02</h2></a>
    <a id="kmom03"><h2>Kmom03</h2></a>
    <a id="kmom04"><h2>Kmom04</h2></a>
    <a id="kmom05"><h2>Kmom05</h2></a>
    <a id="kmom06"><h2>Kmom06</h2></a>                

{% endblock %}