{% extends 'base.html.twig' %}
{% block subheader %}
<div class="subheader">
    {% include "library/librarynav.html.twig" %}
</div>
{% endblock %}
{% block title %}Create Book{% endblock %}

{% block body %}
    <h1>Create Book</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}
