<div class="subnav">
    <ul>
        <li><a href="{{ path('app_library') }}">Library Home</a></li>
        <li><a href="{{ path('book_create') }}">Create book</a></li>
        <li><a href="{{ path('book_read_many') }}">Show/edit books</a></li>
    </ul>
</div>
