{% extends 'base.html.twig' %}
{% block subheader %}
<div class="subheader">
    {% include "library/librarynav.html.twig" %}
</div>
{% endblock %}

{% block title %}Update Book{% endblock %}

{% block body %}
    <h1>Update Book</h1>
    <form method="post" action="{{ path('book_update', {'id': id}) }}">
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
{% endblock %}